*.html{
    height: 50%;
}

body { 
    font-family :Helvetica;
    background-color: rgb(220,220,220);  
    margin:0;
  } 

header{
    background: rgb(255, 130, 47);
    color: white;
}

header h1{
    margin: 0;
    display: inline;
}

.description{
    text-align: right;
}

.logo{
    text-align: right;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 25px 25px;
    text-align: center;
    background-color: blue;
    color: white;
}
